.title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E90FF;
    padding: 50px 0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    flex-wrap: wrap;
}

.title-content {
    padding: 0 100px;
    flex: 1;
    max-width: 50%;
    color: white;
    text-align: center; /* Центрируем текст по горизонтали */
}

.title-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px; /* Увеличиваем отступ между заголовком и кнопками */
}

.title-content span {
    font-size: 80px;
    font-weight: bold;
}

.bullets {
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
}

.bullets li {
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.bullets li::before {
    content: '•';
    margin-right: 10px;
    color: #0400ff;
}

.buttons {
    display: flex;
    gap: 15px;
    font-weight: bold;
    justify-content: center; /* Центрируем кнопки */
    margin-top: 20px; /* Отступ между текстом и кнопками */
}

.btn-primary {
    background-color: #fa0;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #05f;
}

.title-image-container {
    padding: 0 100px;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
}

.title-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}

.highlight {
    color: #fa0;
}

/* Медиазапросы */
@media (max-width: 768px) {
    .title-container {
        text-align: center;
        justify-content: center;
        padding: 20px;
    }

    .title-content {
        padding: 0 20px;
        max-width: 100%;
    }

    .title-content h1 {
        font-size: 28px;
    }

    .title-content span {
        font-size: 40px;
        color: #fa0; /* Цвет текста "от 500Р", совпадающий с цветом кнопки */
    }

    .bullets li {
        font-size: 14px; /* Уменьшение второстепенного текста для планшетов */
    }

    .buttons {
        justify-content: center;
    }

    .btn-primary {
        font-size: 16px;
        padding: 10px 20px;
    }

    .title-image-container {
        display: none; /* Убираем изображение на планшетах */
    }
}

@media (max-width: 480px) {
    .title-container {
        text-align: center;
        justify-content: center;
        padding: 20px;
    }

    .title-content {
        padding: 0 20px;
        max-width: 100%;
    }

    .title-content h1 {
        font-size: 28px;
    }

    .title-content span {
        font-size: 40px;
        color: #fa0; /* Цвет текста "от 500Р", совпадающий с цветом кнопки */
    }

    .bullets li {
        font-size: 14px; /* Уменьшение второстепенного текста для телефонов */
    }

    .buttons {
        justify-content: center;
    }

    .btn-primary {
        font-size: 16px;
        padding: 10px 20px;
    }

    .title-image-container {
        display: none; /* Убираем изображение на телефонах */
    }
}
