/* Внутренний контейнер */
.title-container {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Разделяет контент */
    align-items: center;
    background-color: #1E90FF;
    padding: 50px 0; /* Отступы сверху и снизу */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
    flex-wrap: wrap;
}

/* Контент с текстом */
.title-content {
    padding: 0 100px; /* Одинаковые отступы слева и справа */
    flex: 1;
    max-width: 50%;
    text-align: left;
    color: white;
}

/* Заголовок */
.title-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1px; /* Уменьшаем отступ между строками до 5px */ /* Можно дополнительно уменьшить межстрочный интервал */
}
.title-content span {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 1px; /* Уменьшаем отступ между строками до 5px */ /* Можно дополнительно уменьшить межстрочный интервал */
}


/* Выделение текста */
.title-content .highlight {
    color: #fa0;
    font-weight: bold;
}

/* Список */
.bullets {
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
}

.bullets li {
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.bullets li::before {
    content: '•';
    margin-right: 10px;
    color: #0400ff;
}

/* Кнопки */
.buttons {
    display: flex;
    gap: 15px;
    font-weight: bold;
}

.btn-primary {
    background-color: #fa0;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #05f;
}

/* Контейнер с изображением */
.title-image-container {
    padding: 0 100px; /* Одинаковые отступы слева и справа для изображения */
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: flex-end; /* Выравниваем изображение по правому краю */
}

/* Изображение */
.title-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
}
